* {
    margin: 0;
    padding: 0;
}

body {
    background: antiquewhite;
}

.container-main {
    margin-top: 50px;
}

.error {
    color: red;
}

.alert {
    margin-top: 30px;
}

#alert-confirm {
    visibility: hidden;
}

.navbar-comp {
    margin-right: 20px;
}

.col {
    margin-top: 20px;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

.description {
    font-size: 20px;
}

.content {
    font-size: 20px;
}

.user-avatar {
    width: 50px;
    height: 50px;
}

.comment-area {
    width: 100%;
}